@import '../../scss/mixins';
.auth {
	display: flex;
	min-height: 100vh;

	&__visual {
		flex: 0 0 55%;
		padding: 0rem 5rem;
		background-image: linear-gradient(
				to bottom,
				rgba(91, 192, 198, 0.8) 0%,
				rgba(91, 192, 198, 0.6) 50%,
				rgba(91, 192, 198, 0.98) 100%
			),
			url('../../assets/img/hero.jpg');
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;

		&--figure {
			padding: 2rem 18rem;
		}

		&--illustration {
			@include ResponsiveImage();
			// padding: 5rem;
			filter: drop-shadow(0 3rem 2rem rgba(239, 90, 96, 0.99));
		}
	}
	&__content {
		flex: 1;
	}
}
